/* || General */
* {
  padding: 0;
  margin: 0;
}
.body {
  background: beige;
  height: 60vh;
  display: flex;
  align-items: center;
}

/* || Dashboard */
.search {
  padding: 15px 0;
  width: 50%;
  margin: 0 auto;
}
.search input, .search button {
  display: block;
  margin: 15px auto;
}
.search input {
  width: 75%;
  padding: 15px;
  border: thin solid lightgray;
  border-radius: 25px;
  font-size: 20px;
}
.search button {
  padding: 15px;
  margin-top: 50px;
  border-radius: 3px;
  border: none;
  width: 50%;
  background: lightblue;
}

/* || Daily */

/* || Forecast */